@font-face {
  font-family: "iconfont"; /* Project id 2661077 */
  src: url('//at.alicdn.com/t/font_2661077_6o30s6dn0zx.woff2?t=1625800491905') format('woff2'),
  url('//at.alicdn.com/t/font_2661077_6o30s6dn0zx.woff?t=1625800491905') format('woff'),
  url('//at.alicdn.com/t/font_2661077_6o30s6dn0zx.ttf?t=1625800491905') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e68f";
}

.icon-quanxianguanli:before {
  content: "\e6a3";
}

.icon-dingdan:before {
  content: "\e649";
}

.icon-shujutongji:before {
  content: "\e609";
}

.icon-shangpinguanli:before {
  content: "\e670";
}

.icon-denglumima:before {
  content: "\e6b1";
}

.icon-tubiao-06:before {
  content: "\e619";
}
